extends ../template/common

block content
    h2.text-center.my-5 Cart
    table.table.table-bordered.table-success.mx-auto.my-5.w-75
        if !productsInCart
            p.text-center.lead Nothing into cart !

        else
            tr.justify-content-center.align-item-center
                th.text-center Product image 
                th.text-center Product
                th.text-center Price
                th.text-center Quantity
                th.text-center Total
                th.text-center Remove

            each product in productsInCart
                tr.justify-content-center.align-item-center
                    td.text-center
                        img(src= product.productImage) 
                    td.text-center= product.name
                    td.text-center= "$ " + product.price                
                    td.text-center= product.quantity
                    td.text-center= "$ " + (product.price * product.quantity)
                    td.text-center
                        input(type="button" value="Remove")