extends ../template/common
block content
    .container 
        .row.justify-content-center
            .col-4.my-5
                if product.productImage
                    img.card-img-top.d-block(src= product.productImage, width="297px", height="180px")
                else
                    img.card-img-top.d-block(src="https://via.placeholder.com/150", width="297px", height="180px")
                h3= product.name
                p= product.description
                p
                    span= product.price
                    span &nbsp;$
